<div class="row">
	<div style="margin-left: 40px">
		<%= paginate(@photos) %>
	</div>
</div>
<div class="row">
	<div style="margin-left: 20px">
		<%@photos.each do |photo|%>
			<img src="<%=photo.image%>">
		<%end%>
	</div>
</div>

