<form action="/photos" method = "get">
	<input type="hidden" name="authenticity_toke" value="<%=form_authenticity_token%>"
	<label for="photo_location">Latitude/logitude:</label>
	<input type="text" id="photo_location" name="photo[location]">
	<br>
	<label for="photo_radius">Search Radius:</label>
	<input type="text" id="photo_radius" name="photo[radius]" >
	<input type="submit" value="Search">
</form>