<div class="container">
	<div class="jumbotron" style="background: #E6E6E6; padding: 12px">
	  <h1>Hello, Ban.jo</h1>
	  <p>Thanks for giving me the opportunity to work on this challenge for you.</p>
	  <p>It gave me a chance to relearn API integration and I had a lot of fun! You can check it out by using the search bar. And you can see the code <a href="https://github.com/jacknoble/banjo_challenge"> on Github.</a>
	</div>
</div>